.startMatch {
    font-family: "Happy Monkey", system-ui;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
}

.active_break {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* vertically center */
  position: fixed;
  top: 40%;
  left: 45%;
  z-index: 30;
  background-color: aliceblue;
  padding: 20px;
  font-size: 3rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.active_break h2 {
    font-size: 1.5rem;
}
.inactive_break {
    display: none;
}


.active_foul {
margin-top: 0.5vh;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgba(0, 0, 0, 0.815);
 padding: 5px;
 border-radius: 10px;   
}
.inactive_foul {
    display: none;
}
.active_fr{
    display: flex;
    background-color: rgba(0, 0, 0, 0.815);
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-top: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkgray;
    border-radius: 10px;
    max-width: 20vh;
}
.inactive_fr {
    display: none;
}


.quarter {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    background-color: #f4f4f4;
    color: black;
    max-width: 30vh;
    padding: 15px;
    border-radius: 12px;
}

.matchControl {
    display: flex;
    flex-direction: column;
    background-color: chocolate;
    border-bottom: 3px solid rgb(101, 53, 9);
    color: white;
    font-size: 1.3rem;
    padding: 10px;
}

.teams {
    display: flex;
    justify-content: flex-end;
}

.TEAM_A {
    background-color: orange;
    width: 50%;
    padding: 10px;
    min-height: 100vh;
    color: white;
}
.TEAM_A h3 {
    font-size: 1.7rem;
    font-style:italic;
}
.TEAM_A h1 {
    font-size: 5rem;
}

.TEAM_B {
    background-color: blue;
    width: 50%;
    text-align: right;
    padding: 10px;
    color: white;
}
.TEAM_B h3 {
    font-size: 1.7rem;
    font-style:italic;
}
.TEAM_B h1 {
    font-size: 5rem;
}


.score-table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
.score-table th{
  border-radius: 5px;
  padding: 2px;
}
.score-table td {
  padding: 3px;
}


.players {
    margin-top: 1vh;
    background-color: rgba(160, 160, 160, 0.819);
    padding: 5px;
    border-radius: 10px;
}

.playerHeader {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.playerHeader li{
    text-decoration: none;
    list-style: none;}


.time {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5vh;
}

.stopWatch {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    background-color: #f4f4f4;
    color: black;
    max-width: 20vh;
    padding: 15px;
    border-radius: 12px;
}

.shotClock {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    background-color: #f4f4f4;
    color: black;
    max-width: 30vh;
    padding: 15px;
    border-radius: 12px;
}

.startBtn {
    margin: auto;
    background-color: green;
    border: 2px solid black;
    min-width: 100px;
    font-size: 1.2rem;
}
.startBtn:hover {
    background-color: green;
}


.pauseBtn {
    margin: auto;
    background-color: red;
    border: 2px solid black;
    min-width: 100px;
    font-size: 1.2rem;
}
.pauseBtn:hover {
    background-color: red;
}


.resetBtn {
    background-color: gray;
    border: 2px solid black;
    font-size: 1.2rem;
    min-width: 100px;
    margin: auto;
}