.homeContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: auto;
    padding: 20px;
    background-color: rgba(171, 122, 217, 0.684);
    color: white;
}

.homeContainer h2{
    font-size: 5rem;
}
.homeContainer button {
    font-family: "Happy Monkey", system-ui;
    display: block;
    margin: 10px auto;
    width: 30vh;
    height: 45px;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    background-color: blueviolet;
    color: white;
    box-shadow: 0 0 20px 3px lavender;
}
.homeContainer button:hover{
    background-color: orange;
    color: white;
    transition: 0.5s;
}